<h2>Plants</h2>
<ul class="list-group">
    <li class="list-group-item" ng-repeat="plant in plantsCtrl.plants">
        <h3>
            {{ plant.name }}
            <small>{{ plant.variety }}</small>
            <span class="label pull-right" ng-class="plantsCtrl.statusLabel(plant.status.name)" ng-hide="plant.editing">
                {{ plant.status.name }} on {{ plant.status.date | date : "dd/MM/yy" }}
                <i class="glyphicon glyphicon-edit" ng-click="plantsCtrl.editStatus(plant)"></i>
            </span>
            <form class="pull-right" ng-show="plant.editing" ng-submit="plantsCtrl.updateStatus(plant)">
                <select ng-model="plant.status.name">
                    <option>Sown</option>
                    <option>Planted Out</option>
                    <option>Harvesting</option>
                    <option>Spent</option>
                </select>
                <button type="submit" class="btn btn-primary">
                    Save
                </button>
            </form>
        </h3>
        <blockquote>
            <p>{{ plant.description }}</p>
        </blockquote>
    </li>
</ul>
