<h2>Plants</h2>
<ul class="list-group">
    <li class="list-group-item" ng-repeat="plant in plants">
        <h3>
            {{ plant.name }}

            <small>{{ plant.variety }}</small>

            <plant-status editable></plant-status>
        </h3>

        <p>{{ plant.description }}</p>

        <div ng-controller="tabController as tabCtrl">
            <ul class="nav nav-pills">
                <li ng-class="tabClass('stats')"><a ng-click="viewTab('stats')">Stats</a></li>
                <li ng-class="tabClass('notes')"><a ng-click="viewTab('notes')">Notes</a></li>
                <li ng-class="tabClass('log')"><a ng-click="viewTab('log')">Status Log</a></li>
            </ul>
            <div ng-show="tabActive('stats')">
                <plant-stats></plant-stats>
            </div>
            <div ng-show="tabActive('notes')">
                <plant-notes></plant-notes>
            </div>
            <div ng-show="tabActive('log')">
                <plant-log></plant-log>
            </div>
        </div>
    </li>
</ul>
